* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}

.board {
  display: grid;
  grid-template: repeat(10, 1fr) / repeat(9, 1fr);
  max-width: 80vh;
  width: 100%;
  margin: 0 auto;
}
h1,
h2,
input {
  text-align: center;
}
h2 {
  grid-column: 1 / -1;
}
.buttons {
  display: flex;
  justify-content: center;
  position: relative;
}
.tile {
  border: 1px solid grey;
  max-width: calc(80vh / 9);
  max-height: calc(80vh / 9);
  width: calc(100vw / 9);
  height: calc(100vw / 9);
}
.tile:nth-of-type(3n) {
  border-right: 3px solid black;
}
.tile:nth-last-of-type(9n) {
  border-left: 3px solid black;
}
.tile:nth-of-type(n + 19):not(:nth-of-type(n + 28)),
.tile:nth-last-of-type(-n + 9) {
  border-bottom: 3px solid black;
}

.tile:nth-last-of-type(n + 19):not(:nth-last-of-type(n + 28)),
.tile:nth-of-type(-n + 9) {
  border-top: 3px solid black;
}
.tile input {
  width: 100%;
}
.main-tile {
  font-size: 1.5em;
  font-weight: bold;
  height: 100%;
}
.candidates-tile {
  font-size: 1em;
  height: 20%;
  border: none;
  border-top: 1px solid lightgray;
}
.initialed-tile {
  background: lightgrey;
  font-weight: normal;
}
.correct {
  border: 1px solid green;
}
.incorrect {
  border: 1px solid red;
}
.won {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.won h1 {
  background: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 5px 5px black;
}
.dropdown {
  display: none;
  position: absolute;
  top: 30px;
}
.show {
  display: block;
}
.active {
  background: black;
  color: white;
}
