.won {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.won h1 {
  background: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 5px 5px black;
}
